body {
  margin: 0;
  box-sizing: border-box;
}

/* navbar css part*/
#navbar {
  width: 100%;
  height: 90px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  line-height: 90px;
}

#navbar .logo {
  margin-left: 50px;
  text-decoration: none;
  font-size: larger;
  color: black;
}

#navbar .menubar {
  margin-right: 90px;
}

.menubar .login,
.menubar .signup {
  border: none;
  background-color: white;
  cursor: pointer;
}

/* side bar css part */
#side_bar {
  width: 25%;
  height: 731px;
  background-color: rgb(117, 133, 117);
  float: left;
}

/* mainContent css part */
#mainContent {
  width: 75%;
  height: 731px;
  background-color: rgb(196, 196, 196);
  float: left;
}
